# Python
__pycache__/
*.py[cod]

# Virtual environment
Scripts/
Lib/
Include/
share/
pyvenv.cfg

# Environment variables / secrets
.env
.env.*
*.key
*.pem

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db